.btn {
    padding: 0rem 3.2rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    font-family: inherit;
    font-weight: 600;
    color: var(--white-text);
    font-size: var(--text-xs);
    line-height: 4.4rem;

    border-radius: 10rem;
    transition: all 0.5s ease;

    cursor: pointer;

    &--outline {
        @extend .btn;
        border: 2px solid #ffffff;
        background: transparent;

        &:hover {
            border: 2px solid var(--primary-color);
            background-color: var(--primary-color);
            color: var(--white-text);

            svg path {
                stroke: var(--white-text);
                transition: all 0.5s ease;
            }
        }
    }

    &--outline-primary {
        @extend .btn;
        border: 2px solid var(--primary-color);
        background: transparent;
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--white-text);

            svg path {
                stroke: var(--white-text);
                transition: all 0.5s ease;
            }
        }
    }

    &--primary {
        @extend .btn;
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);


        &:hover {
            border: 2px solid var(--primary-color);
            background: transparent;
            color: var(--primary-color);

            svg path {
                stroke: var(--primary-color);
                transition: stroke 0.5s ease;
            }
        }
    }

    &--full {
        width: 100%;
        justify-content: center;
    }
}