.wrapper-icon {
    width: 4.8rem;
    height: 4.8rem;

    border-radius: 10rem;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease;

    &--outline {
        @extend .wrapper-icon;
        border: 2px solid var(--primary-soft-color);
        background-color: #fff;

        &:hover {
            transform: scale(1.2);
        }
    }

    &--primary {
        @extend .wrapper-icon;
        border: 2px solid var(--primary-soft-color);
        background-color: var(--primary-soft-color);
    }

    &--scroll {
        @extend .wrapper-icon;
        border: 2px solid #fff;
        background-color: var(--primary-color);
    }

    &--white {
        @extend .wrapper-icon;
        border: 2px solid #fff;
        background-color: #fff;

        &:hover {
            transform: scale(1.2);
        }
    }
}