html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow", sans-serif;
}

h2 {
    font-family: inherit;
    font-weight: 400;
    font-size: var(--text-2xl);
    line-height: 4.4rem;
    color: var(--black-1);
}

h3 {
    font-family: inherit;
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 2.8rem;
    color: var(--black-1);
}

.normal-text {
    font-family: inherit;
    font-weight: 400;
    font-size: var(--text-md);
    line-height: 2.4rem;
    color: var(--gray-4);
    letter-spacing: 0%;
}

.text-divider {
    height: 1px;
    width: 100%;
    background: var(--gray-6);
}