$primary-color: #2DB24A;
$primary-soft-color: #EAF7ED;

$background-color: #EAF7ED;

$gray-1: #C3C7CE;
$gray-2: #87909D;
$gray-3: #424E60;
$gray-4: #556070;
$gray-5: #A5ACB5;

$black-1: #132238;

$white-text: #fff;